<div class="container">

  <%= render './shared/navbar.html.erb' %>

  <div class="container">
    <div class="row row-cols-3">
      <% @cocktails.each do |cocktail| %>
            <div class="col">
              <div class="card" style="width: 18rem;">
                <img src="https://source.unsplash.com/featured/?cocktail/300x300" class="card-img" alt="coktail">
                <div class="card-body">
                  <h5 class="card-title"> <%= cocktail.name%></h5>
                  <p class="card-text"> <%= link_to "Details", cocktail_path(cocktail), class: "btn btn-index" %>
                  </p>
                </div>
              </div>
            </div>
      <% end %>
    </div>
  </div>


</div>


  


