body {
  background-color: hsl(173, 69%, 3%);
  text-align: center;
}

.container > container {
  display: flex;
}

.card {
  margin: 20px auto;
  width: auto;
  height: auto;
  background-color: hsla(175, 73%, 3%, 0.829);
  color: whitesmoke;
}

.card-title {
  text-align: center;
}

.card-text {
  text-align: center;
}

.btn-index {
  color: white;
  font-size: 16px;
  padding: 16px 40px;
  margin: 20px auto;
  border-radius: 4px;
  border-color: #5b0814;
  background: #c70d10;
  transition: background 0.3s ease;
}

.btn-index:hover {
  background: #5b0814;
  color: white;
}