p {
  color: black;
}

.container-show {
  width: 100vh;
  height: 100vh;
  overflow: hidden;
}

.card-show {
  width: 100vh;
  height: 100vh;
  overflow: hidden;
}

h1.card-title {
  font-size: 54px;
  color: black;
}

.card-img-overlay {
  display: flex;
}

.btn-show {
 
}